@model IEnumerable<DUT4UStudentApp.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>
<h4>Search for a student below</h4>
<p></p>
@using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
            @Html.TextBox("search")
            <input type="submit" value="Search">
            <button >@Html.ActionLink("Clear Results", "Index")</button>

        }

@*@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="form-group">
        <p>Enter your search</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
            @Html.TextBox("search", new {style="width:100px;"})
        </div>
    </div>
}*@

    <hr />

    <p>
        @Html.ActionLink("Add a Student", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a href="~/Content/@item.ImageURL">@Html.DisplayFor(modelItem => item.ImageURL)</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
